fastapi
uvicorn
python-multipart
requests
pydantic
langchain-core
langchain-google-genai
langchain-community
langchain-text-splitters
pinecone
pypdf
google-generativeai
python-dotenv
slack_bolt
pymongo
dnspython